extends layout

block header_menu
	a.brand(href='/') Project name
	div.nav-collapse.collapse
		ul.nav
			li
				a(href="/") Home
			li
				a(href='/about') About
			li.active
				a(href='/contact') Contact

block content
	h1 Contact
	p This is the contact page!

